<!--
<div class="row footer">
  <div class="col-md-3"></div>
  <div class="col-md-3"> <p>{{ site.description | escape }}</p></div>
  <div class="col-md-3">
    {{site.email}}<br/>
    <a href="http://www.github.com/{{site.github_username}}">GitHub</a>
  </div>
  <div class="col-md-3"></div>
</div>

-->
<div class="row footer">
        <div style="font-size: 9pt; text-align: center">
          Layout compliments of <a href="http://eugenewu.net/">Eugene Wu</a> and <a href="http://bailis.org/">Peter Bailis</a>.
        </div>
</div>
