<div class="row header" >
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-3" style="text-align: center;">
        <h4 class="frank">Frank Y. Wang</h4>
        <div id="mypic"></div>
      </div>
      <div class="col-md-6">

        <h4>Bio</h4>
        {% capture bio %}{% include bio.md %}{% endcapture %}
        {{ bio | markdownify }}

<!--<div class="tight">
 <p><span class="applyheading">
I am on the faculty job market this year! 
</p>
<ul>
<li><a href="./files/cv/cv.pdf">CV</a></li>
<li><a href="./files/papers/research.pdf">Research Statement</a></li>
<li><a href="./files/papers/teaching.pdf">Teaching Statement</a></li>
</ul>
</div> -->
                 
</div>
      <div class="col-md-3">
        {% capture info %}{% include info.md %}{% endcapture %}
        {{ info | markdownify }}
         

      </div>
    </div>


  </div>
</div>


