<div class="row header" >
  <div class="col-md-11">

    <div class="row">
      <div class="col-md-3" style="text-align: center;">
        <h4 class="frank">Frank Wang</h4>
        <div id="mypic"></div>
      </div>
      <div class="col-md-5">
        <h4>Bio</h4>
        {% capture bio %}{% include bio.md %}{% endcapture %}
        {{ bio | markdownify }}
                
      </div>
      <div class="col-md-3">
        {% capture info %}{% include info.md %}{% endcapture %}
        {{ info | markdownify }}
         

      </div>
    </div>


  </div>
</div>


