
<link rel="stylesheet" type="text/css" href="./files/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="./files/css/style.css" />
<script src="./files/js/colors.js"></script>
<link rel="stylesheet" type="text/css" href="./files/css/fonts.css" />

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="./files/js/handlebars.js"></script>
<script src="./files/js/underscore.js"></script>
<script src="./files/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.13/webcomponents-lite.min.js"></script> 
<!--<link rel="import" href="./files/html/cloudstitch-handlebars.vulcanized.html"/>-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-34676734-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-34676734-1');
</script>

